a {
    display: block;
    width: 200px;
    height: 100px;
    background-color: orange;
    font-size: 22px;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
}

p {
    font-size: 24px;
    text-indent: 50px;
}