.container {
    width: 300px;
    background-color: royalblue;
    position: relative;
}

.container .item {
    border: 4px dashed red;
    background-color: orange;
}

.container .item:nth-child(1) {
    width: 100px;
    height: 100px;
}

.container .item:nth-child(2) {
    width: 140px;
    height: 70px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.container .item:nth-child(3) {
    width: 70px;
    height: 120px;
}