.container {
    width: 300px;
    background-color: royalblue;
}

.container .item {
    border: 4px dashed red;
    background-color: orange;
}

.container .item:nth-child(1) {
    width: 100px;
    height: 100px;
}

.container .item:nth-child(2) {
    width: 140px;
    height: 70px;
    position: relative;
    top: 30px;
    left: 200px;
}

.container .item:nth-child(3) {
    width: 70px;
    height: 120px;
}