div {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 
        width .5s, 
        background-color 2s;
}

div:hover {
    width: 300px;
    background-color: royalblue;
}