body {
    padding: 100px;
}

.container {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    perspective: 250px;
}

.container .item {
    width: 100px;
    height: 100px;
    background-color: orange;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    backface-visibility: hidden; /* 뒤집어진 요소를 숨김 */
}