body {
    padding: 100px;
}

.container {
    width: 100px;
    height: 100px;
    background-color: royalblue;
}

.container .item {
    width: 100px;
    height: 100px;
    background-color: orange;
    transform: rotate(45deg) scale(1.3);
}