div {
    width: 100px;
    height: 100px;
    background-color: orange;
}

span {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.parent {
    width: 300px;
    height: 200px;
    background-color: royalblue;;
}

.parent {
    min-width: 400px;
    height: 100px;
    background-color: orange;;
}