.container {
    width: 250px;
    height: auto;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;
}

.container .item {
    width: 100px;
    height: 100px;
    border: 3px dashed red;
    background-color: orange;
}